.footer {
  background-color: #d9cad3;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}
.menusearch{
    justify-content: center;
    display: flex;
    /* border: 1px solid #29ecdc; */
}
.dodyview{
  border: 1px solid  #29eca1;
}
.topbigbody{
  border: 1px solid #693a56;
  float: right;
  width: 85%;
}
.subbigbody{
  padding-left: 20%;
  background-color: #c7cecb;
}
.subbigbody2{
  padding-top: 3%;
}
.iconcenter{
  font-size: 34px;
  justify-content: center;
}
a{
  color: green;
}
a:hover{
  color: greenyellow;
}
.left-beforfooter{
  border:1px solid #186849;
  float:left;
  width:15%;
  height: auto;
  text-align: center;
  background-color: #29eca1;
}
.beforfooter{
  border: 1px solid #f31d76;
  float: right;
  width: 85%;
  height:auto;
  background-color: #e9e9e9;
}
.beforfooter2{
  border: 1px solid #12a166;
  float: right;
  width: 85%;
  height:auto;
}
.menu{
  border:1px solid #0be7dc;
  display: flex;
}
.clearfloat{
  clear: both;
}
.footer-view{
  background-color: #d9cad3;
  padding: 2rem;
  width: 105%;
}
.footer {
  background-color: #d9cad3;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}
td.details-control {
  background: url('image/open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('image/close.png') no-repeat center center;
}
.dataview{
  border: 1px solid #eb451c;
}
.list-group-item{
  background-color: #dcfafc;
}